.textContainer {
  @apply relative w-full overflow-hidden;
  @apply bg-gray-700 text-sm w-full p-2 rounded-md;
}

.textEditor {
  @apply overflow-hidden box-border outline-none;

  direction: ltr;
  line-height: theme('height.6');
  height: theme('height.6');
}

.textPlaceholder {
  @apply absolute top-0 left-0 p-2 pointer-events-none;
}

.textPlaceholder.hidden {
  @apply hidden;
}
