.overlay,
.container {
  @apply fixed top-0 left-0 w-screen h-screen;
}

.overlay {
  @apply z-40 cursor-pointer;
  @apply bg-black bg-opacity-50;
}

.container {
  @apply flex flex-col justify-center items-stretch;
  @apply z-50 pointer-events-none;
}

.content {
  @apply px-2;
}

.content > * {
  @apply pointer-events-auto;
}

.transition.hidden {
  @apply opacity-0;

  visibility: hidden;
  transition: opacity 300ms ease, visibility 0s linear 300ms;
}

.transition.shown {
  @apply opacity-100;

  visibility: visible;
  transition: opacity 300ms ease, visibility 0s linear;
}
